<!-- Subscribe -->
<div class="grid-container margin-top-2 margin-bottom-2" data-aos="fade-in">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 cell text-center">
      <h4 class="white primary-font text-uppercase">¿QUIERES RECIBIR NUESTRO NEEWSLETTER?</h4>
      <p>¡Inscríbete y no te pierdas detalle!</p>
      <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div class="input-group">
          <input class="input-group-field" type="email" name="EMAIL" class="" id="mce-EMAIL" placeholder="suscríbete@email.com">
          <div class="input-group-button"><input type="submit" class="button" value="Enviar"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Subscribe -->
